body {

 /*background-image:url("men.jpg") ;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position:center;*/
 font-family: 'Barlow Condensed', sans-serif;
 align-items: center;
 justify-content: center;
 background-color:#432C7A;
}

#logo{
    display: flex;
    gap:15px;
    align-items:center;
    justify-items:center;
    flex-direction:column;
}

.logoImg{
    width:100px;
    border-radius:15px;

}

.container{
    width: 100%;
    max-width:250px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 3px 1px #777;
}
.text-container{
width: 100%;
    max-width:350px;
    margin:20px auto;
    border-radius: 10px;
    padding: 20px;

}

.emoji{
    font-size: 120px;
    margin: 0px;
    text-align: center;
    text-shadow: 0px 0px 4px #555;
}

.mood{
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-size: 20px;
    font-weight: bold;
}

.emoji-slider{
    -webkit-appearance:none;
    appearance: none;
    width: 100%;
    height: 10px;
    max-width: 400px;
    background-color: #ccc;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
   font-family: 'Courier New', Courier, monospace;
}
header h1{
color:#fff;
font-weight:bold;
font-style:italic;

}

header nav ul li {
  list-style: none;
  display: inline-block;
  margin: 5px;
   font-family: 'Courier New', Courier, monospace;
   background-color: #3F3B6C;
   border-radius:20px;
   border:1px solid #fff;
   padding:20px;
   font-weight:bold;

}

header nav ul li a {
  text-decoration: none;
  color: #fff;
   font-family: 'Courier New', Courier, monospace;

}
a:hover{
color:#FF8FB1;
}
.check-in{
    align-items: center;
  }

.emotion{
font-size:26px;
color:#fff;
padding:20px;
text-align:center;
font-weight:bold;
font-style:italic
font-family:sans serif;

}

.check-in{
background-color:#3F3B6C;
color:#fff;
padding:20px;
border-radius:20px;
font-weight:bold;
margin-left:48%;

}