body{
    background-color:#341717e3;
}


#heading{
    text-align: center;
    color: #fafafa;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #00000082;
    padding: 20px;
    max-width: 350px;
    height: 400px;
    margin: 100px auto;
    border-radius: 20px;
}

#reg-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    max-width: 350px;
    height: 100px;
    margin: 0px auto;
}

.form-group{
    display: grid;
    grid-template-columns: 140px 140px;
    gap:15px;
}

.form-group label{
    padding: 7px;
    /*color: #fafafa;*/
    letter-spacing: 1.3px;
}

.btn.btn-primary{
    width: 120px;
    padding: 10px;
    background-color: #aa6868c2;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 30px;
}

a, a:visited, a:active{
    color: #fafafa;
    letter-spacing: 1.1px;
    text-decoration: none;
}